.contact {
    padding: 10px;
    flex-direction: column;
    margin-top:30px;
    padding-top:5px;
    margin-top:100px;
    color:rgb(221, 212, 212);
    border-radius: 10px;
    justify-content: space-between;
    background-color:#1d1c1b;
    /* text-align: center; */
    /* padding: 50px; */
}
.contact .contact-container {
    width: 80%;
    margin: 20px auto;
    background-color: rgb(48, 47, 47);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact .contact-container h1 {
    font-size: 2.5rem;
    color:rgb(81, 171, 223);
    text-align: center;
}

.contact .contact-container .intro {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}

.contact .contact-container .info-item h2 {
    font-size: 1.5rem;
    color: rgb(81, 171, 223);
}

.contact .contact-container .contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contact .contact-container .info-item p {
    font-size: 1rem;
    margin: 5px 0;
}

.contact .contact-container .social-icons {
    display: flex;
    gap: 20px;
}
.contact .contact-container .social-icons i{
    display:flex;
    display: inline-block;
    font-size: 24px;
    color: var(--text-color);
    margin-right: 10px;
    transition: all .6s ease;
    margin-bottom: 30px;
}

.contact .contact-container .social-icons i:hover{
    transform: rotate3d(0,0,1,360deg);
    color: var(--main-color);
}
    
